{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <script src="Js/Ajaxreceive.js"></script>
    <script type="text/javascript">
        table.init("user");
        console.log(table.retour);
    </script>
	<h1>
			Entrer un nouvel evenement :
	</h1>
    {{ form_start(formEvent) }}
    {{ form_row(formEvent.title, {'attr':{'placeholder' : "Titre de l'evenement"}}) }}
    {{ form_row(formEvent.description, {'attr':{'placeholder' : "Description de l'evenement"}}) }}
    {{ form_row(formEvent.usersid) }}
   	{{ form_row(formEvent.machinesid) }} 
    {{ form_row(formEvent.dateStart, {'attr':{'placeholder' : "Date de l'evenement"}}) }}
    {{ form_row(formEvent.frequence, {'attr':{'placeholder' : "Frequence de repetition (ne rien mettre si ponctuel)"}}) }}
	<script>
		function EditButton(idButton)
		{
			document.getElementById("new_user_form_"+idButton).disabled ? (document.getElementById("new_user_form_"+idButton).disabled = false) : (document.getElementById("new_user_form_"+idButton).disabled = true);
		}
	</script>
   	<button type="submit">Enregistrer</button>
    {{ form_end(formEvent) }}
{% endblock %}
