{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
	<h1>
			Entrer un nouvel evenement :
	</h1>
    {{ form_start(formEvent) }}
    {{ form_row(formEvent.title, {'attr':{'placeholder' : "Titre de l'evenement"}}) }}
    {{ form_row(formEvent.description, {'attr':{'placeholder' : "Description de l'evenement"}}) }}
    {{ form_row(formEvent.usersid, {'attr':{'placeholder' : "Technicien(s) impliques"}}) }}
    {{ form_row(formEvent.dateStart, {'attr':{'placeholder' : "Date de l'evenement"}}) }}
    {{ form_row(formEvent.frequence, {'attr':{'placeholder' : "Frequence de repetition (ne rien mettre si ponctuel)"}}) }}

   	<button type="submit">Enregistrer</button>
    {{ form_end(formEvent) }}
{% endblock %}
