{% extends 'base.html.twig' %}

{% block title %}Liste Evenement{% endblock %}
	
{% block body %}
{# 	<meta http-equiv="refresh" content="600">#}
	<div class="col-12 offset-md-3 col-md-6 BorderRouge TitlePage">
		<h1>Rechercher un évenement</h1>
	</div>
	<div class="row">
		<div class="col-12 offset-md-4 col-md-4 BorderBleu">
			<div class="row displayRow BorderJaune">
			<div class="col-12">
			{{ form_start(form) }}
				<div class="offset-1 col-10 BorderVert">
	                {{ form_widget(form.Recherche,{'attr' : {'class' : 'form-control', 'placeholder' : 'Recherche'}}) }}
	            </div>
	        {{ form_end(form) }}
	        </div>
	        </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-12">
        <div class="row">
        	<div class="col-12 offset-md-2 col-md-8">
        		<ul>
                	{% for event in pagination %}
                		<a href="{{ path('event_Display', {id : event.id}) }}" class="btn-list-event">
                		<li class="EventListe" style="border: 1px solid #00A1D7; margin-top:5px;">
                    		<div>
                    		    <h2 style="display:inline; margin-left:15px;">{{ event.title }}</h2>&nbsp &nbsp &nbsp
                    		    <h4 style="display:inline; float:right; margin-right:15px;">{{ event.dateStart|date("d/m/Y") }}</h4>
                    		</div>
                		</li>
                		</a>
                	{% endfor %}
            	</ul>
            	</div>
        	</div>
        </div>
        <div class="col-12">
            <div class="row">
            	<div class="col-12 offset-md-2 col-md-8">
                	<nav aria-label="Page navigation example">
                        {{ knp_pagination_render(pagination) }}
                	</nav>
            	</div>
        	</div>
    	</div>
	</div>
{% endblock %}