{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}
	
{% block body %}
{# 	<meta http-equiv="refresh" content="600">#}
	<div class="col-12 offset-md-3 col-md-6 BorderRouge TitlePage">
		<h1>Ajouter un Évenement</h1>
	</div>
	<div class="col-12 offset-md-2 col-md-8" style="margin-top:20px">
        {{ form_start(formEvent) }}
        	<!-- =========================== I N F O R M A T I O N S ===================================== -->
        	<div style="border-bottom:1px solid #AAAAAA;">
        		<h3>Informations</h3>
        	</div>
        	<div style="margin-top:10px;" class="row">
        		<div class="offset-1 col-10">
        			<div class="row">
                        <div class="col-4">
                            {{ form_label(formEvent.title,'Nom de l\'évenement') }}
                        </div>
                        <div class="col-8">
                            {{ form_widget(formEvent.title, {'attr':{'placeholder' : "Titre de l'evenement", "class" : "form-control form-control-sm"}}) }}
                    	</div>
                        <div class="col-4">
                            {{ form_label(formEvent.description,'Description de l\'évenement') }}
                    	</div>
                        <div class="col-8">
                            {{ form_widget(formEvent.description, {'attr':{'placeholder' : "Description de l'evenement", "class" : "form-control form-control-sm"}}) }}
                   		</div>
               		</div>
           		</div>
           </div>
           <!-- ========================================================================================= -->
           <!-- =========================== U T I L I S A T E U R S ===================================== -->
           <div style="border-bottom:1px solid #AAAAAA; margin-top:20px;" class="row">
        		<h3 class="col-6">Utilisateurs</h3>
        		<h3 class="col-6">Machines</h3>
        	</div>
           	<div class="row" style="margin-top:20px;">
           		<div class="col-12 col-md-6 BorderBleu" style="margin-top:20px">
                	<ul class="listeUserId" id="listeUserId" data-prototype="{{ form_row(formEvent.usersid.vars.prototype)|e }}">
                	</ul>
                </div>
                <div class="col-12 col-md-6 BorderVert" style="border-left:1px solid #AAAAAA;">
                	<ul class="listeMachineId" data-prototype="{{ form_row(formEvent.machinesid.vars.prototype)|e }}">
                	</ul>  
                	<div class="offset-1">
                		<button type="button" class="add_tag_link btn btn-outline-primary" id="buttonAddMachine"><i class="fas fa-plus-circle"></i> Modèle</button>
                	</div>
                </div>
            </div>
            <!-- ========================================================================================= -->
           	<!-- =========================== U T I L I S A T E U R S ===================================== -->
           	<div style="border-bottom:1px solid #AAAAAA; margin-top:20px;" class="row">
        		<h3 class="col-6">Fréquence Répétition</h3>
        	</div>
        	<div id="Frequence" class="row" style="margin-top:10px;">
        		<div class="offset-1 col-10">
        			<div class="row">
{#         				<div class="col-4">#}
{#         		            {{ form_label(formEvent.frequence,'Fréquence de répétion') }}#}
{#         		        </div>#}
        		        <div class="col-12">
        		        	{{ form_widget(formEvent.frequence,{'attr' : {'class':'form-control form-control-sm','placeholder' : "Fréquence de répétition (0 si ponctuel)"}})}}
        		        </div>
{#         		        <div class="col-4">#}
{#         		            {{ form_label(formEvent.MesureTemps,'Mesure du temps') }}#}
{#         				</div>#}
        				<div class="col-12" style="margin-top:5px;">
        				    {{ form_widget(formEvent.MesureTemps,{'attr' : {'class':'form-control form-control-sm'}}) }}
        				</div>
        			</div>
        		</div>
        	</div>
        	<!-- ========================================================================================= -->
           	<!-- =========================== D A T E   D E P A R T   ===================================== -->
        	<div style="border-bottom:1px solid #AAAAAA; margin-top:20px;" class="row">
        		<h3 class="col-6">Date de départ</h3>
        	</div>
        	<div style="margin-top:10px;" class="row">
        		<div class="offset-1 col-10">
{#         			<div class="row">#}
        		        {{ form_widget(formEvent.dateStart, {'attr' : {'class':'row'}}) }}
{#         		    </div>#}
        		</div>
        	</div>
        	<div style="border-bottom:1px solid #AAAAAA; margin-top:20px;" class="row">
        		<h3 class="col-6">Fin</h3>
        	</div>
        	<div style="margin-top:10px;" class="row">
           		<button type="submit" class="btn btn-secondary btn-sm">Enregistrer l'évenement</button>
           	</div>
        {{ form_end(formEvent) }}
    </div>
   
    <script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
    <script src="{{ asset('Js/Ajaxreceive.js') }}"></script>
    <script>
        var $addTagButton = $('#buttonAdd');					//Bouton +UsersId
        var $addMachineButton = $('#buttonAddMachine');
        var $newLinkLiUser = $('<li name="user"></li>');//.append($addTagButton);
        var $newLinkLiMachine = $('<li name="mach"></li>');
        var lastUserId;
        var $collectionHolder;
        var lastUserSelect, lastUserSelected;
        var allUserInput = [];

        jQuery(document).ready(function() {
            $collectionHolder = $('ul#listeUserId');									//On récupère dans la page la balise <ul> avec la class : listeUserId
            $collectionHolderMachine = $('ul.listeMachineId');	
            $collectionHolder.append($newLinkLiUser);										//On ajoute un nouveau <li></li>
            $collectionHolderMachine.append($newLinkLiMachine);								//On ajoute un nouveau <li></li>
            $collectionHolder.data('index', $collectionHolder.find(':input').length);	//La donnée 'index' = nombre de select 
            $collectionHolderMachine.data('index', $collectionHolder.find(':input').length);	//La donnée 'index' = nombre de select
            addTagForm($collectionHolder, $newLinkLiUser);									//Au chargement de la page on ajoute un champ select user
			$addMachineButton.on('click', function(){
				addMachineForm($collectionHolderMachine, $newLinkLiMachine);
			});
			$('#new_event_form_machinesid').parent().remove();
			$('#new_event_form_usersid').parent().remove();
			$('#new_event_form_dateStart select').each(function(){
					$(this).addClass('form-control form-control-sm col-4');
				});
        });
        function addTagForm($collectionHolder, $newLinkLiUser)
        {
            var prototype = $collectionHolder.data('prototype');						//On recuprere le data-prototype.
            var index = $collectionHolder.data('index');								//On recupere l'index (nombre de select)
			lastUserSelected = '#new_event_form_usersid_' + index + '_user';			//Var contenant l'id du nouveau <select>
			lastUserSelected2 = '#new_event_form_usersid_' + (index-1) + '_user';		//Var contenant l'id du <select> précedent
			//allUserInput.push(lastUserSelected);										//Tableau contenant tout les id des select
			$(lastUserSelected2).off();													//On désactive les events sur le champ précédent
            var newForm = prototype;

            //Ajout boutton delete sur l'ancien UserSelect;
            var last = $(lastUserSelected2).parent();//.parent().parent().parent();
            $(last).addClass( "row" );
//             $(last).parent().parent().parent().parent().css("margin-top","20px");
            $(last).append('<span class="col-1" onclick="DeleteLi('+'\'#new_event_form_usersid_'+(index-1)+'_user'+'\');" style="cursor: pointer;"><i class="fas fa-times-circle" style="color:#EE8686"></i></span>');
            
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
//             $newFormLi.append('<span onclick="console.log(\'click delete\');" style="cursor: pointer;"><i class="fas fa-times-circle" style="color:#EE8686"></i></span>');
			$newLinkLiUser.before($newFormLi);
			$(lastUserSelected).addClass( "form-control form-control-sm col-11" );	
			
			var label = $('label[for='+lastUserSelected.split('#')[1] +']')
			label.remove();
			$(lastUserSelected).change(function(){				//On créer un evenement sur le champs actuel
				addTagForm($collectionHolder, $newLinkLiUser);
				})
            }
        	function addMachineForm($collectionHolderMachine, $newLinkLiMachine)
        	{
        		var prototype = $collectionHolderMachine.data('prototype');
        	    var index = $collectionHolderMachine.data('index');
        	    var newForm = prototype;
        	    newForm = newForm.replace(/__name__/g, index);

        	    // increase the index with one for the next item
        	    $collectionHolderMachine.data('index', index + 1);

        	    // Display the form in the page in an li, before the "Add a tag" link li
        	    var $newFormLi = $('<li></li>').append(newForm);
        	    $newLinkLiMachine.before($newFormLi);
        	    var idForm = '#new_event_form_machinesid_'+index+'_ModeleMachine';
        	    var idFormMach = '#new_event_form_machinesid_'+index+'_machinesDispo';
				var $formActual = $('#new_event_form_machinesid_'+index+'_ModeleMachine');
        	    $(idForm).addClass("form-control form-control-sm");
        	    $(idFormMach).addClass("form-control form-control-sm");
        	    $(idForm).parent().parent().parent().parent().css('border','1px solid #AAAAAA');
        	    $(idForm).parent().parent().parent().parent().append('<span class="col-1" onclick="DeleteLi('+'\'#new_event_form_machinesid_'+index+'_ModeleMachine'+'\');" style="cursor: pointer;"><i class="fas fa-times-circle" style="color:#EE8686"></i></span>');
				console.log(idForm, $formActual);
				$formActual.change(function(){
					var $form = $(this).closest('form');
					var data = {};
					data[$formActual.attr('name')] = $formActual.val();
					console.log(data, $formActual.val());
						$.ajax({
						url  : $form.attr('action'),
						type : $form.attr('method'),
						data : data,
						success: function(html){
							console.log('SUCCESS !!');
							$('#new_event_form_machinesid_'+index+'_machinesDispo').replaceWith(
								$(html).find(('#new_event_form_machinesid_'+index+'_machinesDispo'))
								);
							$('#new_event_form_machinesid_'+index+'_machinesDispo').addClass("form-control form-control-sm");
							}
						});
					});
        	    
            }
            function DeleteLi(id)
            {
				$(id).parent().parent().parent().parent().remove();
            }
    </script>
{% endblock %}
