{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Mot de passe{% endblock %}

{% block body %}	
	
{# 	{{ form_start(form) }}#}
{# 		{{ form_widget(form.password.first) }}#}
{# 		{{ form_widget(form.password.second) }}#}
{#    		<button class="btn btn-lg btn-primary" type="submit">Valider</button>#}
{# 	{{ form_end(form) }}#}
	
	
	
		<div class="row">
		<div class="col-12 offset-md-3 col-md-6 TitlePage">
			<h1>Réinitialisation Mot de passe</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 offset-md-2 col-md-8">
		<div style="margin-top:40px"></div>
			{{ form_start(form) }}
			    {% if form_errors(form.password.first) %}
			 		<div class = "alert alert-danger flashmessage">{{ form_errors(form.password.first) }}</div>
			    {% endif %}
				<div style="margin-top:10px"></div>
				{{ form_widget(form.password.first) }}
				<div style="margin-top:10px"></div>
				{{ form_widget(form.password.second) }}
				<div style="margin-top:10px"></div>
				<button type="Submit" class ="btn-info btn">Valider le changement</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}