{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
	<div class="row BorderJaune">
    	<div class="col-12 offset-md-3 col-md-6 BorderRouge TitlePage">	
			<h1>Edition Utilisateur {{ user.Nom }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="row col-12 offset-md-3 col-md-6 BorderBleu titreFormulaire"><h3>Modifier les Informations</h3></div>
		<div class="col-12 offset-md-3 col-md-6 formPart" id="formEdit">
			{{ form_start(form) }}
				<div class="row">
				    {{ form_errors(form) }}
				</div>
				<div class="row">
					<div class="col-11 offset-md-1 col-md-10">
				   	    {{ form_label(form.email, 'Nom') }}
				        {{ form_widget(form.nom, {'attr': {'disabled': true}}) }}
				    </div>
				    <div class="col-1"><button id="boutonNom" onclick="EditButton('nom');" type="button"><i class="far fa-edit"></i></button></div>
				</div>
				<div class="row">
				    <div class="col-11 offset-md-1 col-md-10">
				   		{{ form_label(form.email, 'Prénom') }}
				   	    {{ form_widget(form.prenom, {'attr': {'disabled': true}}) }}
				    </div>
				    <div class="col-1"><button id="boutonPrenom" onclick="EditButton('prenom')" type="button"><i class="far fa-edit"></i></button></div>
				</div>
				<div class="row">
				    <div class="col-11 offset-md-1 col-md-10">
				    	{{ form_label(form.email, 'E-MAIL') }}
				   	    {{ form_widget(form.email, {'attr': {'disabled': true}}) }}
				    </div>
				    <div class="col-1"><button id="boutonEmail" onclick="EditButton('email')" type="button"><i class="far fa-edit"></i></button></div>
				</div>
				<div class="row">
				 	<div class="col-11 offset-md-1 col-md-10">
						<button onclick="EnableInput();" type="Submit" class ="btn btn-primary">Valider les modifications</button>
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
	<div class="row sectionRoww">
		<div class="row col-12 offset-md-3 col-md-6 BorderVert titreFormulaire"><h3>Changer les droits</h3></div>
		<div class="row col-12 offset-md-3 col-md-6 BorderVert formPart">
			<div class="col-11 offset-md-1 col-md-10"><h4>Rôles actuel :</h4>
			
        		{% for roles in user.roles %}
        			{% if roles != 'ROLE_NOUVEAU' %}
        				{{ roles }} /
        			{% else %}
        				{% if user.roles == ['ROLE_NOUVEAU'] %}
        					Aucun rôle pour le moment, mot de passe non changé.
        				{% endif %}
        			{% endif %}
        		{% endfor %}
   			</div>
            <div class="col-11 offset-md-1 col-md-10" id="formRoles_" hidden>
                
                {{ form_start(formRoles) }}
                    {{ form_label(formRoles.Roles, 'Autorisations') }}
                    {{ form_widget(formRoles.Roles) }}
    
                    	<button type="submit"><i class="far fa-save"></i> Sauver</button>
    
                {{ form_end(formRoles) }}
            </div>
            <div class="col-1">
                {% if user.roles != ['ROLE_NOUVEAU'] %}
            		<button id="boutonEmail" onclick="ActiveRoles();" type="button" ><i class="far fa-edit"></i></button>
        	    {% endif %}
    	    </div>
	    </div>
	</div>
	<div class="row">
		<div class="row col-12 offset-md-3 col-md-6 BorderViolet titreFormulaire"><h3>Suppression compte</h3></div>
    	<div class="col-12 offset-md-3 col-md-6 formPart">
    		<div class="col-11 offset-md-1 col-md-10">
        		<button class="btn btn-danger" onclick="DeleteAccount();"><i class="fas fa-trash-alt"></i> Supprimer le compte</button>
        		<div id="confirm" hidden>
        			<h3>Êtes vous sûr ?</h3>
        			<h4>Toute suppression est définitive... Il est absoluement impossible de revenir en arrière !</h4>
        			<div class="row">
        			    {{ form_start(formDelete) }}
        					<button type="submit" class="btn btn-link"><i class="fas fa-check-circle"></i> Oui, Supprimer</button>
        			    {{ form_end(formDelete) }}
        				<button class="btn btn-secondary" onclick="AbortDelete();"><i class="fas fa-times-circle"></i> Annuler</button>
        			</div>
        		</div>
    		</div>
    	</div>
	</div>
	<!-- =================================SCRIPT========================================== -->
	<script>
		function EditButton(idButton)
		{
			document.getElementById("new_user_form_"+idButton).disabled ? (document.getElementById("new_user_form_"+idButton).disabled = false) : (document.getElementById("new_user_form_"+idButton).disabled = true);
		}
		function EnableInput()
		{
			document.getElementById("new_user_form_nom").disabled = false;
			document.getElementById("new_user_form_prenom").disabled = false;
			document.getElementById("new_user_form_email").disabled = false;
		}
		function ActiveRoles()
		{
			//document.getElementById('form_Roles').disabled ? document.getElementById('form_Roles').disabled = false : document.getElementById('form_Roles').disabled = true;
			document.getElementById('formRoles_').hidden ? document.getElementById('formRoles_').hidden = false : document.getElementById('formRoles_').hidden = true;
		}
		function DeleteAccount()
		{
			document.getElementById('confirm').hidden = false;
		}
		function AbortDelete()
		{
			document.getElementById('confirm').hidden = true;
		}
	</script>
{% endblock %}
