{% extends 'base.html.twig' %}

{% block title %}Admin- Recherche Utilisateur{% endblock %}

{% block body %}	
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">
    		<h1>Rechercher un Utilisateur <i class="fas fa-users"></i></h1>
    	</div>
	</div>
	<div class="row">
		<div class="col-12 offset-md-4 col-md-4">
			{{ form_start(form) }}
		        {{ form_widget(form) }}<button type="Submit" class =""><i class="fas fa-search" style='font-size:27px;'></i></button>
	        {{ form_end(form) }}
	        
        </div>
    </div>	
    <div class="row">
    	<div class="col-12 offset-md-3 col-md-6">
    		    {% for resultat in rechercheResultat %}
    		    	{% if resultat %}
    		    		<a href="{{ path('admin_UserControl_searchUser_id', {id: resultat.id}) }}">
        		    		<div class="listeUser">
        		    			<div class="elemListeUser userLogo">{% if "ROLE_ADMIN" in resultat.roles %}
        		    					<i class="fas fa-user-graduate"></i>
        		    				 {% elseif "ROLE_USER" in resultat.roles%}
        		    				 	<i class="fas fa-user"></i>
        		    				 {% else %}
        		    				 	<i class="fas fa-user-lock"></i>
        		    				 {% endif %} 		    				 
    		    				 </div>
    		    				
    		               		<div class="elemListeUser userName">{{ resultat.Nom }}</div>
    		               		<div class="elemListeUser userSurname">{{ resultat.prenom }}</div>
    		               		<div class="elemListeUser userEmail">{{ resultat.email }} </div>
        		            	</br>
        		            </div>
    		            </a>
    		        {% endif %}
    		    {% endfor %}
    	</div>
    </div>
	
{% endblock %}