<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
        	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        	<link rel="stylesheet" href="{{ asset('css/all.css') }}">
        {% endblock %}
  

    </head>
    <body>
		<div class="container-fluid ">	<!-- Division utile pour mettre en place les 12 colonnes avec bootstrap -->
      		<header class="page-header">	<!-- Entête de la page ( toute la partie haute avec le logo farella) -->
    			<div class ="menu row">		<!-- Nouvelle ligne pour le menu (partie avec le background bleu + image ) -->
    				<div class="col-2">		<!-- Deux colonne pour l'image (peut importe la taille de l'écran (A AMELIORER) -->
    				<!-- Chargement de l'image (ligne en dessous -->
  					<a href="{{ path('Home') }}"><img src = "{{ asset('/image/Farella.png') }}"  height="80"> <!--width="auto" --> </a> 
    				</div> 
    				<div class="offset-9 col-1">  <!--  On saute 9 colonnes (offset-9) puis on affiche sur la dernière colonne le logo de déconnexion -->
                      {#}  {% if is_granted('ROLE_USER') %}	<!-- Si la personne connecté à au moins le role_user (ce qui est le cas pour n'importe quel utilisateur) on affiche le logo de déconexion -->
    						<!-- On rend le logo clicable, puis il est chargé avec une biblithèque  -->
    						<a href="{{ path('app_logout') }}"><div class="btnLogout"><p class="fas fa-power-off logoLogout" style='font-size:40px;'></p></div></a>
    					{% endif %}#}
    					{% if is_granted('ROLE_NOUVEAU') %}	<!-- Si la personne connecté à le role_nouveau (ce qui est le cas pour les nouveaux comptes) on affiche le logo de déconexion -->
    						<!-- On rend le logo clicable, puis il est chargé avec une biblithèque  -->
    						<a href="{{ path('app_logout') }}"><div class="btnLogout"><p class="fas fa-power-off logoLogout" style='font-size:40px;'></p></div></a>
    					{% endif %}
    				</div>
				</div>
      		</header> <!-- Fin du header -->
      		
      		<section class ="row sectionRoww">	<!-- Section pour le menu sur la gauche (les boutons) -->
          		<div class= "col-lg-2 col-12 col-sm-12 col-md-2 menuGauche"> <!-- On prend deux colonnes si l'écran est en large ou medium, sinon en small ou xsmall on prend 12 colonnes -->
          			<div class="row">	<!-- Nouvelle ligne -->
              			<div class="col-6 col-md-12 BtnRow"> <!-- Dans cette ligne On prend 6 collones pour l'ecran en sm et xs et 12 pour md et plus -->
              			    {% if is_granted('ROLE_ADMIN') %}
              					<a href="{{ path('admin_UserControl') }}"><h4>Contrôle Utilisateurs</h4></a>
              				{% else %}
              					<h4>Btnn1</h4>
              				{% endif %}
              			</div>
              			<div class="col-6 col-md-12 BtnRow">	<!--  Pareil qu'au dessus -->
              				<h4 onclick="alert(0);">BTN 2</h4>
              			</div>
          			</div> <!--  Fin première ligne -->
          			<div class="row">	<!--  même principe que la div class="row" juste au dessus -->
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 3</h4>
              			</div>
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 4</h4>
              			</div>
          			</div>
          		</div>
          		<div class= "col-lg-10 col-12 col-sm-12 col-md-10 centreModifiable"> <!-- On prend 12 colonnes en xs et sm et 10 en md et + pour le reste de la page -->
          			<div class="row displayRow">
          				<div class="col-12">
                            {% block body %}   
            
                            {% endblock %}
                        </div>
               		</div>
                </div>
            </section>
 		</div>
        {% block javascripts %} <!--  Fichier Javascript -->
        	<script src="{{ asset('bootstrap/Js/bootstrap.js') }}"></script>
        	<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
