<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
        	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% endblock %}
  

    </head>
    <body>
		<div class="container-fluid ">
      		<header class="page-header">
    			<div class ="menu row">
    				<div class="col-2">
  					<a href="{{ path('app_login') }}"><img src = "{{ asset('/image/Farella.png') }}"  height="80"> <!--width="auto" --> </a> 
    				</div>
    				<div class="offset-9 col-1">
                        {% if is_granted('ROLE_USER') %}
    						<a href="{{ path('app_logout') }}"><p class="fas fa-power-off btnLogout" style='font-size:40px'></p></a>
    					{% endif %}
    				</div>
				</div>
      		</header>
      		
      		<section class ="row sectionRoww">
          		<div class= "col-lg-2 col-12 col-sm-12 col-md-2 menuGauche">
          			<div class="row">
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 1</h4>
              			</div>
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 2</h4>
              			</div>
          			</div>
          			<div class="row">
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 3</h4>
              			</div>
              			<div class="col-6 col-md-12 BtnRow">
              				<h4>BTN 4</h4>
              			</div>
          			</div>
          		</div>
          		<div class= "col-lg-10 col-12 col-sm-12 col-md-10 centreModifiable">
          			<div class="row displayRow">
                        {% block body %}   
            
                        {% endblock %}
               		</div>
                </div>
            </section>
 		</div>
        {% block javascripts %}
        	<script src="{{ asset('bootstrap/Js/bootstrap.js') }}"></script>
        	<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
