<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
        	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
		<div class="container-fluid ">
      		<header class="page-header">
        		<div class="col-lg-12">
        			<div class ="menu">
      					<a href="{{ path('home') }}"><img src = "{{ asset('/image/Farella.png') }}" height="80" width="auto"> </a> 
    				</div>
        		</div>
      		</header>
      		<section class ="row sectionRoww">
          		<div class= "col-lg-2 col-xs-2 col-sm-2 col-md-2 menuGauche">
          			<h3>BTN 1</h3></br>
          			<h3>BTN 2</h3>
          		</div>
          		<div class= "col-lg-10 col-xs-10 col-sm-10 col-md-10 centreModifiable">
                    {% block body %}   
            
                    {% endblock %}
                </div>
            </section>
 		</div>
        {% block javascripts %}
        	<script src="{{ asset('bootstrap/Js/bootstrap.js') }}"></script>
        	<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
