{# Date : 30/04/2019#}
{% extends 'base.html.twig' %}
      
{% block stylesheets %}
    	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    	<link rel="stylesheet" href="{{ asset('css/all.css') }}">
    	<link rel="stylesheet" href="{{ asset('css/viewMachine.css') }}">
{% endblock %}
{% block title %}Admin{% endblock %}

{% block body %}
{# 	<button id="testchercker" onClick="cube.checkAllSprites();">Check All Sprites</button>#}
{# 	<button onClick="cube.checkAllSprites();//document.getElementById('form_Sauvegarder').click();">testcchek</button>#}
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">
        	

{#     		<h1>Edition {{ machine.name}}</h1>#}
{#     		<div id="machineNamed" hidden>{{ machine.id }}</div>#}
    		<h3>Gestion machine</h3>
    		{{ form_start(formMachine) }}
				<div id="formMachine" class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6"> 
                    {{ form_widget(formMachine.name,{'attr' : {'class': 'form-control form-control-sm', 'placeholder' : 'Nom de la machine (ou N°de Série)'}}) }}
                    <div style="margin-top:5px"></div>
                    {{ form_widget(formMachine.description, {'attr':{'placeholder' : "Information sur la machine", 'class' : 'form-control form-control-sm'}}) }}
                 </div>
    			<button id="btnSauvegarder" onclick="DisableBtn();" type="submit" style="margin-top: 2%;" class="btn btn-primary">Sauvegarder</button>
    		{{ form_end(formMachine) }}    		
    		
    		{{ form_start(formDeleteMachine) }}
    			
    			<button type="submit" style="margin-top: 3%;" class="btn btn-danger">Supprimer la machine</button>
    	    {{ form_end(formDeleteMachine) }}
    	
    	</div>
	</div>
	<div class="row ">

 	</div>
  	<script>
      	function DisableBtn()
        {
        	document.getElementById("btnSauvegarder").hidden = true; 
        }
  	</script>
       
	 
{% endblock %}





