{% extends 'base.html.twig' %}
      
{% block stylesheets %}
    	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    	<link rel="stylesheet" href="{{ asset('css/all.css') }}">
    	<link rel="stylesheet" href="{{ asset('css/viewMachine.css') }}">
{% endblock %}
{% block title %}Admin{% endblock %}

{% block body %}
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">
<h2>Hello !</h2>

    		{{ form_start(formModele) }}
    		
    			<button type="submit" class="btn btn-primary">Sauvegarder</button>
    		{{ form_end(formModele) }}
    		
{#     		{{ form_start(formDeleteMaintenance) }}#}
    			
{#     			<button type="submit" class="btn btn-danger">Supprimer la maintenance</button>#}
{#     	    {{ form_end(formDeleteMaintenance) }}#}
    	
    	</div>
	</div>
	<div class="row ">

 	</div>
        
       
	 
{% endblock %}