{% extends 'base.html.twig' %}
      
{% block stylesheets %}
    	<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    	<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    	<link rel="stylesheet" href="{{ asset('css/all.css') }}">
    	<link rel="stylesheet" href="{{ asset('css/viewMachine.css') }}">
{% endblock %}

{% block title %}Admin{% endblock %}

{% block body %}
{# 	<button id="testchercker" onClick="cube.checkAllSprites();">Check All Sprites</button>#}
{# 	<button onClick="cube.checkAllSprites();//document.getElementById('form_Sauvegarder').click();">testcchek</button>#}
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">
        	
    	
    	
{#     		<h1>Aperçu Machine {{ machine.id }}</h1>#}
    		<h1>Aperçu {{ machine.name}}</h1>
{#     		<div id="filename" hidden>{{ machine.imagefilename }}</div>#}
			<div id="filename" hidden>{{ modeleMachine.faceDroite }};{{ modeleMachine.faceGauche }};{{ modeleMachine.faceHaut }};{{ modeleMachine.faceBas }};{{ modeleMachine.faceAvant }};{{ modeleMachine.faceArriere }}</div>
    		<div id="machineNamed" hidden>{{ machine.id }}</div>
    		<div id="modeleID" hidden>{{ modeleMachine.id }}</div>
    		<button class ="btn btn-secondary d-md-none" onclick="showModele();" type="button">Affichage Modèle 3D</button>
    	</div>
	</div>
	<div class="row ">

			<canvas id="myCanvasElement" class="col-12 offset-md-3 col-md-9 d-none d-md-block" width="500" height="300"></canvas>
			<div class="btnPositionduCube">
				<button onClick="cube.cubeMove(-1)" class="posCube d-none d-md-inline-block" id="btnFleche" style="display:inline-block;"> < </button>
				<button class="posCube d-none d-md-inline-block" onClick="cube.cubeMove(1)" id="btnFleche2" style="display:inline-block;"> > </button></br>
			</div>
	       
	       
	      
            <div class="menu2 col-12 col-md-6 d-md-block" id="menuModele">	
            {% if is_granted('ROLE_ADMIN') %}
                <div id="bt2">Machine
                    <button onClick="cube.moveSprite('x', 2)">+x</button><button onClick="cube.moveSprite('x', -2)">-x</button>
                    <button onClick="cube.moveSprite('y', 2)">+y</button><button onClick="cube.moveSprite('y', -2)">-y</button>
                    <button onClick="cube.moveSprite('z', 2)">+z</button><button onClick="cube.moveSprite('z', -2)">-z</button> 
                </div>
                
                <button onclick="cube.ToggleSprite(); cube.testSaveTable();// IsHiddenFormEtape();" class="SpriteNbr spriteCreate btn btn-info">
                	<img id="btnSprite" class="buttonSprite SpriteNbr" src="../../image/machine/ampoule.png" width="50" height="30">
                	Ajouter une étape
                </button>
                <div class="SpriteNbr" id="SpriteNb">0</div>
                
                {{ form_start(formDelete) }}           		
                	<div id="DeleteToSprite">{{ form_row(formDelete.idSprite)}}</div>
                {{ form_end(formDelete) }}            	 
            {% endif %}  
            	<div >Name :</div>
            	<div class="informationTooltip" id="tooltipName" ></div>
            	
            	<div>Description :</div>
            	<div class="informationTooltip" id="tooltipInfo"></div>
            
            	<div>Etape :</div>
            	<div class="informationTooltip" id="tooltipEtape"></div>
            	<!--<button onclick="modifValider()" id="btnValiderModif">OK !</button>-->

            		
            	<button onClick="cube.EtapeChangement(-1)" class="" title="Etape precedente"> < </button><button class="" onClick="cube.EtapeChangement(1)" title="Etape suivante"> > </button></br>
            	<div id="selectEtape">
            		<select>
            		    {% for etape in etapes %}
    	            		<option value="{{ etape.etape }}">

                                {{ etape.name  }}
    	            			{{ etape.description }}
    	            		</option>
    	            	{% endfor %}	
	            		
            		</select>
            	</div>

{#             	{{ form_start(formEtape) }}#}
{#             		<div class="addNomSprite"> {{ form_row(formEtape.name) }}</div>#}
{#                      {{ form_row(formEtape.description, {'attr':{'placeholder' : "Description de l etape"}}) }}#}
{#                      {{ form_row(formEtape.position, {'attr':{'placeholder' : "position de l etape"}}) }}#}
{#                      {{ form_row(formEtape.camera, {'attr':{'placeholder' : "Camera de l etape"}}) }}#}
{#                      {{ form_row(formEtape.etape, {'attr':{'placeholder' : "Etape de l etape", 'readonly':'readonly'}}) }}#}
                     

{# 				{{ form_end(formEtape) }}#}

                {% if is_granted('ROLE_ADMIN') %}
                	
                	    <h2>Sauvegarde de toutes les etapes</h2>
                	     {{ form_start(saveAllSprites) }}
                    	     
                	     {{ form_widget(saveAllSprites.name, {'attr':{'hidden':false}}) }}
                    	     {{ form_widget(saveAllSprites.description, {'attr':{'hidden':false}}) }}
                    	     {{ form_widget(saveAllSprites.position, {'attr':{'hidden':false}}) }}         	     
                    	     {{ form_widget(saveAllSprites.camera, {'attr':{'hidden':false}}) }}       	     
                    	     {{ form_widget(saveAllSprites.etape, {'attr':{'hidden':false}}) }}
                    	     <button type="submit" id="btnSauvegarder" onclick="cube.testSaveTable();validationChangementEtape();" >Sauvegarder</button>
                         {{ form_end(saveAllSprites) }} 
                           <table id="table" class="avectri" border="1">
                            <tr>
                                <th>Nom de l'etape</th>
                                <th>Description</th>
                                <th  data-type="num" data-tri="1">Ordre</th>
                                <th>id</th>
                            </tr>
                            {% for etape in etapes %}
                                <tr>
                                   <td> {{ etape.name  }}</td>
                        			<td>{{ etape.description }}</td>
                            		<td>{{ etape.etape }}</td>
                            		<td>{{ etape.id }}</td>
                        	     </tr>
                        	{% endfor %}	
                        </table>
                         <button onclick="upNdown('up');">&ShortUpArrow;</button>
                         <button onclick="upNdown('down');">&ShortDownArrow;</button>
                          <button onclick="triTableau();//cube.testSaveTable();validationChangementEtape();">Valider !</button>
                         {{ form_start(toutsupprimer) }}
	 				 	 {{ form_end(toutsupprimer) }}
 				 {% endif %}
				
            </div>
        </div>
			<script>
// 			function validationChangementEtape()
// 			{
// 				var table = document.getElementById("table");
// 				for(var i = 1; i < table.rows.length; i++)
//                 {
// 	                for(var j=0; j< cube.sprites.length; j++)
// 		            {
// 			            if(table.rows[i].cells[3].innerHTML.replace(/\s/g,"") === cube.sprites[j].idBDD.replace(/\s/g,""))
// 				        {
// 			            	cube.sprites[j].etape = table.rows[i].cells[2].innerHTML;			            		
// 					    }
// 			        }
//                 }
// 			}
			
// 		    var index;  // variable to set the selected row index
//             function getSelectedRow()
//             {
//                 var table = document.getElementById("table");
//                 for(var i = 1; i < table.rows.length; i++)
//                 {
//                     table.rows[i].onclick = function()
//                     {
//                         // clear the selected from the previous selected row
//                         // the first time index is undefined
//                         if(typeof index !== "undefined"){
//                             table.rows[index].classList.toggle("selected");
//                         }
                       
//                         index = this.rowIndex;
//                         this.classList.toggle("selected");

//                     };
//                 }
                    
//             }
  

//             getSelectedRow();
            
            
//             function upNdown(direction)
//             {
//                 var rows = document.getElementById("table").rows,
//                     parent = rows[index].parentNode;
               
//                  if(direction === "up")
//                  {
//                      if(index > 1){
//                         parent.insertBefore(rows[index],rows[index - 1]);
//                         // when the row go up the index will be equal to index - 1
//                         index--;
//                     }
//                  }
                 
//                  if(direction === "down")
//                  {
//                      if(index < rows.length -1){
//                         parent.insertBefore(rows[index + 1],rows[index]);
//                         // when the row go down the index will be equal to index + 1
//                         index++;
//                     }
//                  }
//                  rows[index].cells[2].innerHTML  = index;
//                  if(rows[index-1] && index>1)
//                  {
//                  	rows[index-1].cells[2].innerHTML  = index -1;
//                  }                     
//                  if(rows[index+1])
//                  {
//                 	 rows[index+1].cells[2].innerHTML  = index +1;
//                  }
                 
//             }

			</script>
       
        
        <div class="tooltip"></div>
        
        <script src="{{ asset('Js/Threejs/three.js') }}"></script>
        <script src="{{ asset('Js/Threejs/WebGL.js')}}"></script>
        <script src="{{ asset('Js/Threejs/stats.min.js')}}"></script>
        <script src="{{ asset('Js/Threejs/TweenLite.js')}}"></script>
        <script src="{{ asset('Js/Ajaxreceive.js')}}"></script>
		<div class="col-12 col-md-9">
    		<script src="{{ asset('Js/machine.js')}}"></script>
		</div>
		<!-- CACHER OU AFFICHER LE FORMULAIRE -->
		<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
{# 		<script>#}
{# 		$('#selectEtape').change(function()#}
{# 		{#}
{# 			console.log('REMY');#}
{# 			var optionSelect = ($( "#selectEtape option:selected" ).val());#}
{# // 			console.log(optionSelect);#}
{# // 			console.log(cube.etapeEnCours);#}
{#  			cube.etapeEnCours = parseInt(optionSelect);#}
{# //  			console.log(cube.etapeEnCours);#}
{#  			cube.EtapeChangement(0);#}
{# 		});#}
{# 		</script>#}
		<script>
			formEtape = document.getElementById('formEtape');
			function IsHiddenFormEtape()
			{
				formEtape.hidden = formEtape.hidden ? false : true;
			}
		</script>
		<script>
			modele = document.getElementById('myCanvasElement');
			menuModele = document.getElementById('menuModele');
			fleche = document.getElementById('btnFleche');
			fleche2 = document.getElementById('btnFleche2');
			function showModele()
			{
				
				modele.classList.contains("d-none") ? modele.classList.remove('d-none') : modele.classList.add('d-none');
				menuModele.classList.contains("d-none") ? menuModele.classList.remove('d-none') : menuModele.classList.add('d-none');
				fleche.classList.contains("d-none") ? fleche.classList.remove('d-none') : fleche.classList.add('d-none');
				fleche2.classList.contains("d-none") ? fleche2.classList.remove('d-none') : fleche2.classList.add('d-none');
			}
		</script>
		
		{% for etape in etapes %}
{#         			<a href = {{ path('maintenanceModele3D', {'machine' : etape.id }) }}>#}
			<div id="getEachSpriteName" hidden>{{ etape.name}}  </div>
			<div id="getEachSpritePosition" hidden>{{ etape.position}}  </div>
			<div id="getEachSpriteCamera" hidden>{{ etape.camera}}  </div>
			<div id="getEachSpriteDescription" hidden>{{ etape.description}}  </div>
			<div id="getEachSpriteEtape" hidden>{{ etape.etape}}  </div>
			<div id="getEachSpriteId" >{{ etape.id}}  </div>
			
			<script>cube.spriteHtmlForJs();//console.log(document.getElementById("getEachSpriteName").innerHTML);</script>

        {% endfor %}
        
      
	 
{% endblock %}





